@charset "UTF-8"; 
/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color: #d0d5cd;   /* background color */
	color: #444;          /* text color for the entire page */
	font-family: 'Open Sans', sans-serif;
	text-align:center; 
}

h1{
	font-family: 'Black Ops One', cursive;
	background-color:#03C8BA;
}
h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 85%;
	margin: 0 auto;    /* centers wrapper */
}
a {
	padding: 15px;
	margin: 3px;
	font-size: 125%;
	background-color:  #03c8ba; 
	color: black; 
}
a:hover {
	font-size:200%;
	background-color: #03c8ba;  
	color: white; 
}
b {
	padding: 15px;
	margin: 3px;
	color: black;
}
b:hover {
	font-size:150%;
	color: #03C8BA; 
}
.warning {
	background-color: #FBB8C4;
	padding:10px;
	border-radius:20px;
}
.material-icons {
	color:red;
	font-size:3em;
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:left;
	background-color:#03C8BA;
	font-weight: bold;
	font-size: 150%;
 }

.stepContent{ 
	background-color: white;
	padding:7px;
	display: flex;/*creates multiple colum layout*/
	flex-wrap:wrap;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:5px;
	line-height:145%;
	text-align: left;
}

.stepImage {
	width:40%;	
	padding:5px;
/*	text-align: center; */
}

.stepImage img {
    width:100%;
    height:auto;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

strong {
  font-weight: 800;
}