@charset "UTF-8";
body {
	font-family:'Open Sans', sans-serif;
	text-align:center;   /* centers all content */	
}

#wrapper {
	width:85%;
	margin:0 auto;       /* centers wrapper */
}

#feedback {
	background: lightyellow; /* background color */
	padding: 20px; 
    font-size: 125%;
}
h1{
	font-family: 'Black Ops One', cursive;
	background-color:#03C8BA;
}
h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}
ul {
  list-style-type: none; /* Remove default bullet points */
  padding: 0;
  margin: 0;
}

ul li {
  margin-left: 20px; /* Adjust the margin to your desired spacing */
  text-align: center; /* You can adjust the alignment as needed */
}